// Colors ---------------
$primary-color: #002049;
$secondary-color: #5bb81c;
$detail_color: #003d4d;
$heading-color: #666;
$text-secondary: #eddcc0;
$white: #ffffff;
$black: #000000;
$sub-heading-color: #333333;
$sub-para-color: #555555;
$lightgray: #f0f0f0;
$mandy: #e65550;
$brightsun: #ffc849;
$spray: #61d6ef;
$cornflower-blue: #6862ef;
$category-bg: #eeeeee;
$feature_color: #e3f5e5;
// Responsive Variables
$xxl: "(min-width: 1600px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "(max-width: 767px)";
$lsm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xsm: "(max-width: 575px)";
$tiny: "(max-width: 399px)";

//spacing
$v-sp-lg: 2rem;
$v-sp-sm: 1rem;
