@import "../../../styles/variables";
.related-products-wrape {
  background: #e3f5e5;
  .main-title {
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1rem;
    @media #{$xsm, $lsm} {
      font-size: 25px;
    }
    @media #{$md} {
      font-size: 28px;
    }
  }
  .custom-arrows {
    text-align: right;
    margin-bottom: 1rem;
    button {
      background: transparent;
      padding: 0;
      margin: 0;
      font-size: 30px;
      color: $black;
      border: 0;
      font-weight: 500;
      &:focus {
        outline: 0;
        box-shadow: none;
      }
      &:hover {
        color: $secondary-color;
      }
    }
  }
  .product-item {
    text-align: center;
    margin-left: 1rem;
    // &:last-child {
    //   margin-left: 0;
    // }
    .image-box {
      position: relative;
      figure {
        height: 343px;
        overflow: hidden;
        position: relative;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        img {
          object-fit: cover;
          transition: all 0.9s ease;
          width: 100%;
          height: 100%;
        }
        .hoverImg {
          position: absolute;
          object-fit: cover;
          top: 0;
          left: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
        }
      }
      .buy-now-btn {
        position: absolute;
        padding: 10px;
        background: $white;
        color: $black;
        border: 0;
        border-radius: 0;
        font-weight: 600;
        font-size: 20px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        &:focus {
          box-shadow: none;
          outline: 0;
        }
        transform: translateY(50px);
        transition: 0.5s;
        opacity: 0;
      }
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin: 1.5rem 0 0.7rem 0;
      text-transform: capitalize;
    }

    p {
      font-size: 16px;
      margin: 0;
      text-transform: capitalize;
      @media #{$xsm} {
        font-size: 14px;
      }
    }
    &:hover {
      .image-box {
        .hoverImg {
          opacity: 1 !important;
        }
        .buy-now-btn {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
  }
}
